# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/static in class/v17/ipch/AutoPCH/e51074bb68a23e7d/MAIN.ipch
/.vs/static in class/v17/Browse.VC.db
/.vs/static in class/v17
/.vs/static in class/FileContentIndex
